services:
  app:
    build:
      context: ./visum
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - ./visum/.env
    environment:
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=100MB
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=100MB
    volumes:
      - ./tmp:/tmp
    networks:
      - app_network
#    restart: on-failure

  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    networks:
      - app_network

  fastapi:
    build:
      context: ./worker
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - ./worker/.env
    networks:
      - app_network
#    restart: on-failure

  worker:
    shm_size: 512mb
    build:
      context: ./worker
    command: celery -A celery_worker worker --loglevel=info --pool=solo
    depends_on:
      - redis
    env_file:
      - ./worker/.env
    environment:
      - PYTHONUNBUFFERED=1  # Force Python to run unbuffered
      - LOG_LEVEL=DEBUG  # Control logging level via environment
    volumes:
      - ./tmp:/tmp
    networks:
      - app_network
    # Ensure logs are properly captured
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
#    restart: on-failure
  nextjs:
    build:
      context: ./visum-front-end  # Adjust path to where your Next.js folder lives
    ports:
      - "3000:3000"
    depends_on:
      - app
    environment:
      - NEXT_PUBLIC_API_URL=http://springboot:8080
    networks:
      - app_network


  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"  # Optional: expose port to host for testing
    volumes:
      - redis_data:/data
    networks:
      - app_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
#    restart: on-failure

networks:
  app_network:
    driver: bridge

volumes:
  redis_data: