services:
  app:
    build:
      context: ./visum
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - redis
    env_file:
      - ./visum/.env
    environment:
      - SPRING_SERVLET_MULTIPART_MAX_FILE_SIZE=100MB
      - SPRING_SERVLET_MULTIPART_MAX_REQUEST_SIZE=100MB
      - MINIO_URL=http://127.0.0.1:9000
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET=${MINIO_BUCKET}
      - MINIO_REGION=${MINIO_REGION}
    volumes:
      - ./tmp:/tmp
    networks:
      - app_network
#    restart: on-failure

  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    networks:
      - app_network

  fastapi:
    build:
      context: ./worker
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - ./worker/.env
    networks:
      - app_network
#    restart: on-failure

  worker:
    shm_size: 512mb
    build:
      context: ./worker
    command: celery -A celery_worker worker --loglevel=info --pool=solo
    depends_on:
      - redis
    env_file:
      - ./worker/.env
    environment:
      - PYTHONUNBUFFERED=1
      - LOG_LEVEL=DEBUG
      - MINIO_URL=http://minio:9000
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - MINIO_BUCKET=${MINIO_BUCKET}
      - MINIO_REGION=${MINIO_REGION}
    volumes:
      - ./tmp:/tmp
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
#    restart: on-failure

  nextjs:
    build:
      context: ./visum-front-end
    ports:
      - "3000:3000"
    depends_on:
      - app
    environment:
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    networks:
      - app_network

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - app_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
#    restart: on-failure

networks:
  app_network:
    driver: bridge

volumes:
  redis_data: